{% for name, item in nagiosconfig_contacts.items() if item.state | default('present') != 'absent' and name not in __nagiosconfig_reserved.contacts | default([]) %}
define contact {
  contact_name    {{ name }}
  email           {{ item.email | default(name) }}
  alias           {{ item.alias | default(name) }}
  use             {{ item.use | default('generic-contact') }}
{% for key, value in item.items() if key not in [ 'alias', 'email', 'password', 'sso', 'state', 'use' ] %}
  {{ key }} {{ value }}
{% endfor %}
}
{% endfor %}

{% for name, item in nagiosconfig_contactgroups.items() if name not in __nagiosconfig_reserved.contactgroups | default([]) %}
define contactgroup {
  contactgroup_name       {{ name }}
{% for key, value in item.items() %}
  {{ key }} {{ value }}
{% endfor %}
}
{% endfor %}
