{% for name, item in __nagiosconfig_contact_templates.items() if name not in __nagiosconfig_reserved.contact_templates | default([]) %}
define contact {
    name   {{ name }}
{% for key, value in item.items() %}
    {{ key }}   {{ value }}
{% endfor %}
}
{% endfor %}
