{% set __nagiosconfig_col = __nagiosconfig_host.keys() | map('length') | max %}
{% set __nagiosconfig_fmt = "{:<" ~ __nagiosconfig_col | string ~ "}    {}" %}

define host {
    {{ __nagiosconfig_fmt.format("host_name", __nagiosconfig_host.host_name) }}
    {{ __nagiosconfig_fmt.format("use", __nagiosconfig_host.use | default(nagiosconfig_host_template_default)) }}
    {{ __nagiosconfig_fmt.format("alias", __nagiosconfig_host.alias | default(__nagiosconfig_host.host_name)) }}
    {{ __nagiosconfig_fmt.format("address", __nagiosconfig_host.address | default(__nagiosconfig_host.host_name)) }}
{% for key, value in __nagiosconfig_host.items() if key not in [ 'address', 'alias', 'host_name', 'name', 'use' ] %}
    {{ __nagiosconfig_fmt.format(key, value) }}
{% endfor %}
{% if __nagiosconfig_tenant | default('') | length > 0 and '_TENANT' not in __nagiosconfig_host %}
    {{ __nagiosconfig_fmt.format("_TENANT", __nagiosconfig_tenant) }}
{% endif %}
    {{ __nagiosconfig_fmt.format("register", "1") }}
}
