{% for name, item in __nagiosconfig_host_templates.items() if name not in __nagiosconfig_reserved.host_templates | default([]) %}
define host {
    name   {{ name }}
{% for key, value in item.items() %}
    {{ key }}   {{ value }}
{% endfor %}
}
{% endfor %}
