{% set __nagiosconfig_fmt = "{:<19}    {}" %}
{% for name, item in __nagiosconfig_services.items() if name != 'use' %}
{% if item is string %}

define service {
    {{ __nagiosconfig_fmt.format("host_name", __nagiosconfig_host.host_name) }}
    {{ __nagiosconfig_fmt.format("service_description", name) }}
    {{ __nagiosconfig_fmt.format("use", __nagiosconfig_services.use | default(nagiosconfig_service_template_default)) }}
    {{ __nagiosconfig_fmt.format("check_command", item) }}
{% if __nagiosconfig_host.contact_groups is defined %}
    {{ __nagiosconfig_fmt.format("contact_groups", __nagiosconfig_host.contact_groups) }}
{% endif %}
    {{ __nagiosconfig_fmt.format("register", "1") }}
}
{% else %}

define service {
    {{ __nagiosconfig_fmt.format("host_name", __nagiosconfig_host.host_name) }}
    {{ __nagiosconfig_fmt.format("service_description", name) }}
{% if 'use' not in item %}
    {{ __nagiosconfig_fmt.format("use", __nagiosconfig_services.use | default(nagiosconfig_service_template_default)) }}
{% endif %}
{% if __nagiosconfig_host.contact_groups is defined and 'contact_groups' not in item %}
    {{ __nagiosconfig_fmt.format("contact_groups", __nagiosconfig_host.contact_groups) }}
{% endif %}
{% for key, value in item.items() %}
    {{ __nagiosconfig_fmt.format(key, value) }}
{% endfor %}
    {{ __nagiosconfig_fmt.format("register", "1") }}
}
{% endif %}
{% endfor %}

